@import "tailwindcss";
.contact-card {
  border: 1px solid #ddd;
  padding: 12px;
  margin: 10px;
  border-radius: 8px;
  background-color: #f0f8ff;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
