* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background: yellow;
  padding: 30px;
  width: 420px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0 , 0 , 0,0.1);
}
h1 {
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
  color: #222;
}
.product {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.product h2 {
  margin-bottom: 10px;
}

.product p {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Buttons */
button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  background-color: #2563eb;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background-color: #1e40af;
}

/* Cart summary */
.cart {
  border-top: 2px solid #eee;
  padding-top: 20px;
}

.cart h3 {
  margin-bottom: 10px;
}

.cart p {
  font-size: 16px;
  margin: 5px 0;
  font-weight: 500;
}